### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# User-uploaded media
media/

# Hitch directory
tests/.hitch

# static file
connectf/static/queryBuilder/*.zip

# venv
venv/

nohup.out

.mypy_cache/
build/
dist/
*.egg-info/

/connectf/config.yaml

connectf_data_release_v1