cycler
decorator
Django==5.0.0
django-cors-headers
fonttools
gunicorn
kiwisolver
lxml
matplotlib
mypy
mypy-extensions
mysqlclient
networkx
numpy
pandas==2.1.4
patsy
pyparsing
python-dateutil
pytz
scikit-learn
scipy==1.11.4
seaborn
six
statsmodels
typed-ast
XlsxWriter
sungear
pyyaml
boto3
requests
jsonschema
