cycler
decorator
Django==3.1.14
django-cors-headers
fonttools
gunicorn
kiwisolver
lxml
matplotlib
mypy
mypy-extensions
mysqlclient
networkx
numpy
pandas
patsy
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
statsmodels
typed-ast
XlsxWriter
sungear
pyyaml
boto3
requests
jsonschema
